<div class="jumbotron">
    <h1>John Yeung</h1>
    <p>Please click on API above to view Documentation</p>

    <p>Before proceeding, you should copy the database schema in the Database project and point the web.config to use the database. :)</p>
</div>
